FLUXQ_DB_HOST=127.0.0.1
FLUXQ_DB_PORT=5432
FLUXQ_DB_NAME=fluxq
FLUXQ_DB_USER=fluxq
FLUXQ_DB_PASSWORD=

FLUXQ_AMQP_ENABLED=true
FLUXQ_AMQP_HOST=127.0.0.1
FLUXQ_AMQP_PORT=5672
FLUXQ_AMQP_HEARTBEAT=60

FLUXQ_AMQP_TLS_ENABLED=false
FLUXQ_AMQP_TLS_HOST=0.0.0.0
FLUXQ_AMQP_TLS_PORT=5671
FLUXQ_AMQP_TLS_CERT=
FLUXQ_AMQP_TLS_KEY=
FLUXQ_AMQP_TLS_CA=

FLUXQ_DIAGNOSTICS_HOST=127.0.0.1
FLUXQ_DIAGNOSTICS_PORT=5673

FLUXQ_MAX_CONNECTIONS=1000
FLUXQ_MAX_CHANNELS_PER_CONNECTION=256
FLUXQ_MAX_CONSUMERS_PER_CONNECTION=256
FLUXQ_MAX_CONSUMERS_PER_CHANNEL=64
FLUXQ_AMQP_MAX_FRAME_SIZE=1048576
FLUXQ_MAX_MESSAGE_SIZE=16777216
FLUXQ_MAX_QUEUES_PER_VHOST=10000
FLUXQ_MAX_QUEUE_DEPTH=1000000

FLUXQ_SHUTDOWN_DRAIN_TIMEOUT=30
